<div class="my-3">
    <h2>Interval and Timer </h2>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                   List-1
                </div>
                <div class="card-body">
                    <ul id="elContainer1"></ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                   List-2
                </div>
                <div class="card-body">
                    <ul id="elContainer2"></ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                   List-3
                </div>
                <div class="card-body">
                    <ul id="elContainer3"></ul>
                </div>
            </div>
        </div>

    </div>
</div>
