<div>
    <h2>Custom observable</h2>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <strong>Ex - 1 (Manual)</strong>
            <hr>
            <ul id="example1" class="tachList" [ngClass]="techStatus == 'completed' ? 'bg-success' : techStatus == 'error' ? 'bg-danger' : '' "></ul>
        </div>

        <div class="col-sm-6">
            <strong>Ex - 2 (Custom Interval Observable)</strong>
            <hr>
            <ul>
                <li>Angualr</li>
            </ul>
        </div>

    </div>
</div>
